@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="coming soon"> Where all roads lead to a doorstep</a>.</p>
</div>
